*styles.css linguist-detectable=false
*responsive.css linguist-detectable=false
*home.css linguist-detectable=false
*about.css linguist-detectable=false
*contact.css linguist-detectable=false
*courses.css linguist-detectable=false
*badge.css linguist-detectable=false
*coursepreview.css linguist-detectable=false