@import url("./status.css");

/* ----------------------------------------- Authentication | Styles ------------------------------------------
---------------------------------------------------------------------------------------------------- */

body {
    background: url("../Images/login.png") no-repeat center/cover fixed;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 18, 25, 0.4);
    height: 100%;
    padding: 2.5rem;
    position: relative;
    overflow: hidden;
}

/* --------------- Authentication - Menu | Styles
------------------------------------------------------------------- */

article .auth-menu.hide,
article .auth-menu form.hide {
    display: none;
}

article .auth-menu {
    font-size: 1.125rem;
    background: rgba(234, 234, 234, 0.6);
    width: 33rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
    animation: panel-in 0.8s both;
}

@keyframes panel-in {
    0% {
        scale: 0.5;
    }

    100% {
        scale: 1;
    }
}

/* ------------- Authentication - Heading | Styles -------- */

article .auth-menu h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    color: var(--darkpurple);
    margin: 1.2rem 0;
}

/* --------------- Authentication - Form | Styles
------------------------------------------------------------------- */

article .auth-menu form {
    animation: panel-in 0.6s both;
    padding: 1rem 1.5rem;
}

article .auth-menu form p {
    font-size: 1.05rem;
    font-weight: 600;
    text-align: left;
    margin: 1rem;
}

article .auth-menu form input {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8125rem;
    letter-spacing: 0.1rem;
    background: var(--white);
    width: 90%;
    margin-bottom: 1rem;
    padding: 0.625rem;
    border: none;
    border-bottom: 0.1rem solid rgba(148, 46, 109, 0.6);
    border-radius: 0.75rem;
    box-shadow: 0 0 0.8rem rgba(0, 18, 25, 0.2);
}

article .auth-menu form input:not([type="submit"]):focus {
    border-color: transparent;
    outline: rgba(148, 46, 109, 0.6) solid 0.15rem;
}

article .auth-menu form input:not([type="submit"]):disabled {
    background: rgba(255, 255, 255, 0.9);
}

/* ---------- (OTP Input) | Styles -------- */

article .auth-menu form input.your_otp {
    color: var(--byzantium);
    border-color: var(--orangeweb);
}

article .auth-menu form input.your_otp:focus {
    outline: var(--orangeweb) solid 0.15rem;
}

article .auth-menu form input.your_otp.success {
    color: var(--cadmiumgreen);
    border-color: var(--yellowgreencrayola);
}

article .auth-menu form input.your_otp.success:focus {
    outline: var(--yellowgreencrayola) solid 0.15rem;
}

article .auth-menu form input.your_otp.error,
article .auth-menu form input.your_otp.error:focus {
    color: var(--auburn);
    outline: var(--redryb) solid 0.15rem;
    cursor: not-allowed;
}

/* -------- Authentication - (Submit) Button | Styles -------- */

article .auth-menu form input[type="submit"] {
    font-size: 1.1rem;
    display: inline-block;
    background-color: var(--byzantium);
    color: var(--aliceblue);
    width: fit-content;
    margin: 2rem auto;
    padding: 0.6rem 1rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 0.8rem rgba(0, 18, 25, 0.2);
    transition: 250ms;
}

article .auth-menu form input[type="submit"]:hover {
    background-color: var(--amaranthmp);
    box-shadow: 0 0 0.2rem var(--richblackfogra29);
    transform: scale(1.04);
    transition: 300ms;
}

article .auth-menu form input[type="submit"]:active {
    background-color: var(--orchid);
    color: var(--richblackfogra29);
    box-shadow: 0 0 0.2rem var(--richblackfogra29);
}

article .auth-menu form input[type="submit"]:disabled {
    background-color: rgba(147, 47, 109, 0.8);
    color: var(--aliceblue);
    text-decoration: line-through rgba(240, 248, 255, 0.6);
    box-shadow: none;
    cursor: not-allowed;
    transform: scale(1);
    transition: 300ms;
}

/* --------------- Authentication - More Options | Styles
------------------------------------------------------------------- */

article .auth-menu .more-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem;
}

/* ---------------- Abort-Button | Styles -------- */

article .auth-menu .abort-button {
    font-size: 1rem;
    color: var(--auburn);
    padding: 0.5rem;
    border-radius: 2rem;
    transition: 250ms;
}

article .auth-menu .abort-button:hover {
    background-color: rgba(234, 234, 234, 0.7);
    transition: 300ms;
}

article .auth-menu .abort-button:active {
    background-color: rgba(165, 42, 42, 0.4);
}

/* --------------- Forgot-Password | Styles -------- */

article .auth-menu .forgot-password {
    font-size: 1rem;
    color: var(--darkpurple);
    text-decoration: underline;
    transition: 250ms;
}

article .auth-menu .forgot-password::before {
    content: "Forgot ";
}

article .auth-menu .forgot-password:hover::before {
    content: "Change ";
}

article .auth-menu .forgot-password:hover::after {
    content: "?";
}

article .auth-menu .forgot-password:active {
    text-decoration: line-through var(--amaranthmp);
}

/* ----------------------------------------- (Responsive) Authentication | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 1190px) {

    /*  Responsive Styles for
            - Small Desktops and 
            - Tablets
    */

    /* --------------- Authentication - Menu | Styles
------------------------------------------------------------------- */

    article .auth-menu {
        font-size: 1.11rem;
        width: 30rem;
        padding: 1.8rem;
        border-radius: 1.8rem;
    }

    /* ------------- Authentication - Heading | Styles -------- */

    article .auth-menu h2 {
        font-size: 1.8rem;
        margin: 1.1rem 0;
    }

    /* --------------- Authentication - Form | Styles
------------------------------------------------------------------- */

    article .auth-menu form {
        padding: 0.8rem 1.25rem;
    }

    article .auth-menu form p {
        font-size: 1rem;
        margin: 0.9rem;
    }

    article .auth-menu form input {
        font-size: 0.8rem;
        letter-spacing: 0.09rem;
        margin-bottom: 0.9rem;
        padding: 0.61rem;
        border-radius: 0.7rem;
    }

    /* -------- Authentication - (Submit) Button | Styles -------- */

    article .auth-menu form input[type="submit"] {
        font-size: 1rem;
        margin: 1.8rem auto;
        border-radius: 1.1rem;
    }

    /* --------------- Authentication - More Options | Styles
------------------------------------------------------------------- */

    article .auth-menu .more-options {
        margin: 0 0.8rem;
    }

    article .auth-menu .abort-button,
    article .auth-menu .forgot-password {
        font-size: 0.9rem;
    }
}


@media (max-width: 767px) {

    /*  Responsive Styles for
            - Small Tablets and
            - Mobiles
    */

    /* --------------- Authentication - Menu | Styles
------------------------------------------------------------------- */

    article .auth-menu {
        font-size: 1.05rem;
        width: 25rem;
        padding: 1.6rem;
        border-radius: 1.6rem;
    }

    /* ------------- Authentication - Heading | Styles -------- */

    article .auth-menu h2 {
        font-size: 1.5rem;
        margin: 1.05rem 0;
    }

    /* --------------- Authentication - Form | Styles
------------------------------------------------------------------- */

    article .auth-menu form {
        padding: 0.8rem 1.1rem;
    }

    article .auth-menu form p {
        font-size: 0.9rem;
        margin: 0.9rem;
    }

    article .auth-menu form input {
        font-size: 0.75rem;
        letter-spacing: 0.08rem;
        margin-bottom: 0.8rem;
        padding: 0.6rem;
        border-radius: 0.6rem;
    }

    /* -------- Authentication - (Submit) Button | Styles -------- */

    article .auth-menu form input[type="submit"] {
        font-size: 0.8rem;
        margin: 1.6rem auto;
        border-radius: 1rem;
    }

    /* --------------- Authentication - More Options | Styles
------------------------------------------------------------------- */

    article .auth-menu .more-options {
        margin: 0 0.7rem;
    }

    article .auth-menu .abort-button,
    article .auth-menu .forgot-password {
        font-size: 0.85rem;
    }
}