/* ---------------- Stylesheet for login page ---------------- */



/* -------------------------------------------
                Log-In Page Styles
----------------------------------------------*/

body {
    background: url(../Images/login.png) no-repeat center/cover;
    background-attachment: fixed;
}

/*      Log-In Position - Styles
------------------------------------------- */

.login-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*      Log-In Window - Styles
------------------------------------------- */

.login-menu .login-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 18, 25, 0.4);
}

.login-menu .login-popup .login-form-container.hide,
.login-menu .login-popup .password-change-container.hide {
    display: none;
}

.login-menu .login-popup .login-form-container,
.login-menu .login-popup .password-change-container {
    animation: panel-in 0.8s both;
    background: rgba(234, 234, 234, 0.6);
    width: 33rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
    font-size: 18px;
}

@keyframes panel-in {
    0% {
        scale: 0.5;
    }

    100% {
        scale: 1;
    }
}

/* -------- Log-In Window Abort-Button Styles -------- */

.login-menu .login-popup .login-form-container .login-abort,
.login-menu .login-popup .password-change-container .forgot-password-abort {
    transition: 350ms;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float: left;
    position: relative;
    height: 1.1rem;
    color: #A52A2A;
    margin: -0.4rem 0 0 -0.2rem;
    padding: 1.2rem 0.3rem;
    border-radius: 2rem;
}

.login-menu .login-popup .login-form-container .login-abort:hover,
.login-menu .login-popup .password-change-container .forgot-password-abort:hover {
    transition: 400ms;
    background-color: rgba(234, 234, 234, 0.7);
    color: #A52A2A;
    cursor: pointer;
}

/* -------- Log-In Window Error-Message Styles -------- */

.login-menu .login-popup .login-form-container .error-message,
.login-menu .login-popup .password-change-container .error-message {
    display: none;
    margin: 0 1rem;
    text-align: left;
    margin-bottom: 1rem;
}

.login-menu .login-popup .login-form-container .error-message.show,
.login-menu .login-popup .password-change-container .error-message.show {
    animation: fade-in-out 1.9s both;
    display: block;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgba(252, 25, 25, 0.8);
}

@keyframes fade-in-out {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 0.9;
    }

    90% {
        opacity: 0.8;
    }

    100% {
        opacity: 0.7;
    }
}

/*     Log-In Window Content - Styles
------------------------------------------- */

.login-menu .login-popup .login-form-container h2,
.login-menu .login-popup .password-change-container h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    color: #420039;
    margin: 1.2rem 0;
}

/* -------- Log-In Window Form - Styles -------- */

.password_change_form.hide,
.otp_validate_form.hide {
    display: none;
}

.login-menu .login-popup .login-form-container .adminAuthentication_form,
.login-menu .login-popup .login-form-container .create_adminAuthentication_form,
.login-menu .login-popup .password-change-container .password_change_form,
.login-menu .login-popup .password-change-container .otp_validate_form {
    animation: panel-in 0.8s both;
    padding: 1rem 2rem;
}

@keyframes faded-in {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.login-menu .login-popup .login-form-container .adminAuthentication_form p,
.login-menu .login-popup .login-form-container .create_adminAuthentication_form p,
.login-menu .login-popup .password-change-container .password_change_form p,
.login-menu .login-popup .password-change-container .otp_validate_form p {
    font-size: 1.06rem;
    font-weight: 600;
    text-align: left;
    margin: 1rem;
}

.login-menu .login-popup .login-form-container .adminAuthentication_form input,
.login-menu .login-popup .login-form-container .create_adminAuthentication_form input,
.login-menu .login-popup .password-change-container .password_change_form input,
.login-menu .login-popup .password-change-container .otp_validate_form input {
    width: 23rem;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    background: white;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 12px;
    border-style: none;
    resize: none;
    border-bottom: 1px solid #E07BE0;
}

.login-menu .login-popup .login-form-container .adminAuthentication_form input:focus,
.login-menu .login-popup .login-form-container .create_adminAuthentication_form input:focus,
.login-menu .login-popup .password-change-container .password_change_form input:focus,
.login-menu .login-popup .password-change-container .otp_validate_form input:focus {
    outline: none;
    border-bottom: 2px solid #932F6D;
}

.login-menu .login-popup .password-change-container .otp_validate_form .new_password:disabled,
.login-menu .login-popup .password-change-container .otp_validate_form .confirm_password:disabled {
    background-color: rgba(240, 248, 255, 0.7);
}

.login-menu .login-popup .login-form-container .adminAuthentication_form .login-button-container,
.login-menu .login-popup .login-form-container .create_adminAuthentication_form .login-button-container,
.login-menu .login-popup .password-change-container .password_change_form .send-button-container,
.login-menu .login-popup .password-change-container .otp_validate_form .update-button-container {
    margin: 40px 0 20px;
}

/* -------- Log-In Window Button - Styles -------- */

.login-menu .login-popup .login-form-container .adminAuthentication_form .login-button-container .login-button,
.login-menu .login-popup .login-form-container .create_adminAuthentication_form .login-button-container .login-button,
.login-menu .login-popup .password-change-container .password_change_form .send-button-container .send-button,
.login-menu .login-popup .password-change-container .otp_validate_form .update-button-container .update-button {
    transition: 400ms;
    font-family: "Playball", cursive;
    font-size: 1.15rem;
    width: 7rem;
    background-color: #932F6D;
    color: #F0F8FF;
    display: inline-block;
    margin: 0;
    padding: 0.6rem 10px;
    border-radius: 20px;
    cursor: pointer;
}

.login-menu .login-popup .login-form-container .adminAuthentication_form .login-button-container .login-button:hover,
.login-menu .login-popup .login-form-container .create_adminAuthentication_form .login-button-container .login-button:hover,
.login-menu .login-popup .password-change-container .password_change_form .send-button-container .send-button:hover,
.login-menu .login-popup .password-change-container .otp_validate_form .update-button-container .update-button:hover {
    transition: 450ms;
    background-color: #E07BE0;
    color: black;
    transform: scale(1.04);
}

.login-menu .login-popup .password-change-container .password_change_form .send-button-container .send-button:disabled,
.login-menu .login-popup .password-change-container .otp_validate_form .update-button-container .update-button:disabled {
    transition: 800ms;
    background-color: rgba(147, 47, 109, 0.7);
    color: #F0F8FF;
    cursor: not-allowed;
    text-decoration: line-through;
    text-decoration-color: rgba(240, 248, 255, 0.6);
    transform: scale(1);
}

.login-menu .login-popup .login-form-container .create_adminAuthentication_form .login-button-container .login-button:disabled {
    transition: 800ms;
    background-color: rgba(147, 47, 109, 0.8);
    color: #F0F8FF;
    cursor: not-allowed;
    transform: scale(1);
}

/* -------- Log-In Window Forgot-Password - Styles -------- */

.login-menu .login-popup .login-form-container .options {
    text-align: right;
    font-weight: 400;
}

.login-menu .login-popup .login-form-container .forgot-password {
    font-size: 1rem;
    color: #420039;
    margin-right: 1.5rem;
    text-decoration: underline;
    cursor: pointer;
}

.login-menu .login-popup .login-form-container .forgot-password:hover {
    text-decoration: line-through;
    text-decoration-color: #932F6D;
}