/* ----------------------------------------- (Responsive) Web Page | Styles ------------------------------------------
----------------------------------------------------------------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 991px) {

    /*  Responsive Styles for
            - Tablets and
            - Small Tablets
    */

    /* ----------------------------------------- Header | Styles ------------------------------------------
---------------------------------------------------------------------------------------------------- */

    header {
        font-size: 1.03rem;
    }

    /* --------------- Navigation Bar | Styles
------------------------------------------------------------------- */

    .navigation-bar .nav-wrapper {
        grid-template-columns: 1fr 5fr;
        padding: 0.15rem 0.15rem 0.45rem;
    }

    /* -------- Navigation Bar - Logo | Styles -------- */

    .navigation-bar .nav-wrapper .nav-logo {
        margin-left: 1.75rem;
    }

    .navigation-bar .nav-wrapper .nav-logo img,
    footer .bottom-info.logo-section .bottom-logo img {
        width: 10rem;
    }

    /* -------- Navigation Bar - Link | Styles -------- */

    .navigation-bar .nav-wrapper .nav-links {
        margin-right: 1.75rem;
    }

    .navigation-bar .nav-wrapper .nav-links a {
        padding: 0.8rem;
    }

    .navigation-bar .nav-wrapper .nav-links a span {
        padding-bottom: 0.7rem;
    }

    .navigation-bar .nav-wrapper .nav-links a:not(.activepage):hover span,
    .navigation-bar .nav-wrapper .nav-links a.activepage span,
    .navigation-bar .nav-wrapper .nav-links a:not(.activepage):active span {
        padding-bottom: 0.2rem;
    }

    /* -------- Navigation Bar - (AdminTools) Dropdown | Styles -------- */
    .navigation-bar .nav-wrapper .nav-links .admin-tools.show {
        top: 3.5rem;
        margin-right: 0.8rem;
    }

    /* ----------------------------------------- Main Title | Styles ------------------------------------------
---------------------------------------------------------------------------------------------------- */

    article .title-container .title-content {
        padding: 9rem 4rem 3.5rem;
    }

    article .title-container .title-content h2 {
        font-size: 2.65rem;
        line-height: 1.25;
        margin: 1.2rem 0;
    }

    /* ----------------------------------------- Footer | Styles ------------------------------------------
---------------------------------------------------------------------------------------------------- */

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1.15rem 1.8rem;
    }

    /* --------------- Bottom-Info | Styles
------------------------------------------------------------------- */

    footer .bottom-info {
        padding: 1.75rem 0 1.75rem 3rem;
    }

    footer .bottom-info h3 {
        font-size: 1rem;
        margin: 0.8rem 0;
    }

    footer .bottom-info li {
        font-size: 0.9rem;
        padding: 0.3rem 0;
    }

    footer .bottom-info li a {
        padding-bottom: 0.275rem;
    }

    footer .bottom-info li a:hover,
    footer .bottom-info li a:active {
        padding-bottom: 0.075rem;
    }

    /* -------- Bottom-Info - Social-Links | Styles -------- */

    footer .bottom-info.logo-section {
        grid-column: 1/5;
        padding: 1.75rem 0.75rem;
    }

    footer .bottom-info.logo-section .bottom-text {
        font-size: 0.85rem;
        margin: 0.7rem 0.5rem;
    }

    /* -------- Bottom-Info - Contact | Styles -------- */

    footer .bottom-info.contact-section {
        padding: 1.75rem 0 1.75rem 3rem;
    }

    footer .bottom-info.contact-section .contact li a img {
        width: 0.9rem;
        height: 0.9rem;
    }

    /* --------------- Copyrights | Styles
------------------------------------------------------------------- */

    .copyrights p {
        font-size: 0.7rem;
    }
}

@media (max-width: 767px) {

    /*  Responsive Styles for
            - Small Tablets only
    */

    /* ----------------------------------------- Header | Styles ------------------------------------------
---------------------------------------------------------------------------------------------------- */

    header {
        font-size: 1.01rem;
    }

    /* --------------- Navigation Bar | Styles
------------------------------------------------------------------- */

    .navigation-bar .nav-wrapper {
        grid-template-columns: 1fr 4fr;
        padding: 0.05rem 0.05rem 0.4rem;
    }

    /* -------- Navigation Bar - Logo | Styles -------- */

    .navigation-bar .nav-wrapper .nav-logo {
        margin-left: 1.6rem;
    }

    .navigation-bar .nav-wrapper .nav-logo img,
    footer .bottom-info.logo-section .bottom-logo img {
        width: 9rem;
    }

    /* -------- Navigation Bar - Link | Styles -------- */

    .navigation-bar .nav-wrapper .nav-links {
        margin-right: 1.6rem;
    }

    .navigation-bar .nav-wrapper .nav-links a {
        padding: 0.6rem;
    }

    .navigation-bar .nav-wrapper .nav-links a span {
        padding-bottom: 0.65rem;
    }

    .navigation-bar .nav-wrapper .nav-links a:not(.activepage):hover span,
    .navigation-bar .nav-wrapper .nav-links a.activepage span,
    .navigation-bar .nav-wrapper .nav-links a:not(.activepage):active span {
        padding-bottom: 0.15rem;
    }

    /* -------- Navigation Bar - (AdminTools) Dropdown | Styles -------- */
    .navigation-bar .nav-wrapper .nav-links .admin-tools.show {
        top: 3rem;
        margin-right: 0.6rem;
    }

    /* ----------------------------------------- Main Title | Styles ------------------------------------------
---------------------------------------------------------------------------------------------------- */

    article .title-container .title-content {
        padding: 8rem 3rem 3rem;
    }

    article .title-container .title-content h2 {
        font-size: 2.5rem;
        line-height: 1.2;
        margin: 1.15rem 0;
    }

    /* ----------------------------------------- Footer | Styles ------------------------------------------
---------------------------------------------------------------------------------------------------- */

    footer {
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1.05rem 1.6rem;
    }

    /* --------------- Bottom-Info | Styles
------------------------------------------------------------------- */

    footer .bottom-info {
        padding: 1.5rem 0 1.5rem 2.5rem;
    }

    footer .bottom-info h3 {
        font-size: 0.95rem;
        margin: 0.6rem 0;
    }

    footer .bottom-info li {
        font-size: 0.8rem;
        padding: 0.25rem 0;
    }

    footer .bottom-info li a {
        padding-bottom: 0.25rem;
    }

    footer .bottom-info li a:hover,
    footer .bottom-info li a:active {
        padding-bottom: 0.05rem;
    }

    /* -------- Bottom-Info - Social-Links | Styles -------- */

    footer .bottom-info.logo-section {
        grid-column: 1/5;
        padding: 1.5rem 0.5rem;
    }

    footer .bottom-info.logo-section .bottom-text {
        font-size: 0.7rem;
        margin: 0.6rem 0.4rem;
    }

    /* -------- Bottom-Info - Contact | Styles -------- */

    footer .bottom-info.contact-section {
        padding: 1.5rem 0 1.5rem 2.5rem;
    }

    footer .bottom-info.contact-section .contact li a img {
        width: 0.8rem;
        height: 0.8rem;
    }

    /* --------------- Copyrights | Styles
------------------------------------------------------------------- */

    .copyrights p {
        font-size: 0.65rem;
    }
}

@media (max-width: 677px) {

    /*  Responsive Styles for
            - Small Tablets and
            - Mobiles
    */

    /* -------- Navigation Bar - Logo | Styles -------- */

    .navigation-bar .nav-wrapper .nav-logo {
        margin-left: 1.2rem;
    }

    .navigation-bar .nav-wrapper .nav-logo img,
    footer .bottom-info.logo-section .bottom-logo img {
        width: 8rem;
    }

    .navigation-bar .nav-wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    /* -------- Navigation Bar - Ham-Icon | Styles -------- */

    .navigation-bar .nav-wrapper .ham-icon {
        display: flex;
        transition: 300ms;
    }

    .navigation-bar .nav-wrapper .ham-icon:hover img {
        animation: ham-shake 0.5s both;
    }

    @keyframes ham-shake {
        0% {
            rotate: 40deg;
        }

        50% {
            rotate: -25deg;
        }

        100% {
            rotate: 0deg;
        }
    }

    .navigation-bar .nav-wrapper .ham-icon.active {
        rotate: -90deg;
    }

    /* -------- Navigation Bar - Link | Styles -------- */

    .navigation-bar .nav-wrapper .nav-links {
        display: none;
    }

    .navigation-bar .nav-wrapper .nav-links.float {
        position: absolute;
        right: 0;
        top: 3rem;
        display: flex;
        flex-direction: column;
        background-color: rgba(240, 248, 255, 0.85);
        margin-right: 1rem;
        padding-bottom: 1.5rem;
        box-shadow: 0 0 0.8rem rgba(0, 18, 25, 0.2);
        border-radius: 0 0 2rem 2rem;
        z-index: 10;
    }

    .navigation-bar .nav-wrapper .nav-links.float a {
        animation: pop-nav-menu 0.5s both;
        color: var(--richblackfogra29);
    }

    /* -------- Navigation Bar - (AdminTools) Dropdown | Styles -------- */
    .navigation-bar .nav-wrapper .nav-links .admin-tools.show {
        top: 9.5rem;
        margin-right: 5.5rem;
    }

    /* ----------------------------------------- Main Title | Styles ------------------------------------------
---------------------------------------------------------------------------------------------------- */

    article .title-container .title-content {
        padding: 7rem 2rem 2.5rem;
    }

    article .title-container .title-content h2 {
        font-size: 2.35rem;
        line-height: 1.15;
        margin: 1.1rem 0;
    }

    /* ----------------------------------------- Footer | Styles ------------------------------------------
---------------------------------------------------------------------------------------------------- */

    footer {
        grid-template-columns: 1fr;
    }

    /* --------------- Bottom-Info | Styles
------------------------------------------------------------------- */

    footer .bottom-info {
        grid-column: 1/5;
        margin-left: 10%;
        padding: 0.25rem 0;
    }

    /* -------- Bottom-Info - Social-Links | Styles -------- */

    footer .bottom-info.logo-section {
        margin: 0;
        padding: 1.5rem 0.5rem;
    }

    /* -------- Bottom-Info - Contact | Styles -------- */

    footer .bottom-info.contact-section {
        padding: 0.25rem 0;
    }

    footer .bottom-info.contact-section .contact li a img {
        width: 0.7rem;
        height: 0.7rem;
    }

    /* --------------- Copyrights | Styles
------------------------------------------------------------------- */

    .copyrights p {
        font-size: 0.65rem;
    }
}