/* ----------------------------------------- Global | Styles ------------------------------------------
---------------------------------------------------------------------------------------------------- */

@font-face {
    font-family: "Poppins";
    src: url("../Fonts/Poppins/Poppins-Regular.ttf") format("truetype"),
        url("../Fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url("../Fonts/Montserrat/Montserrat-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Josefin Sans";
    src: url("../Fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

:root {
    --aliceblue: #F0F8FF;
    --amaranthmp: #932F6D;
    --auburn: #A52A2A;
    --black: #000000;
    --byzantium: #6B1853;
    --cadmiumgreen: #16642b;
    --darkpurple: #420039;
    --mauve: #DEA4F0;
    --mediumchampagne: #FCEFB4;
    --orangeweb: #FFA500;
    --orchid: #E07BE0;
    --popstar: #B6465F;
    --redryb: #FC1919;
    --richblackfogra29: #001219;
    --safetyblazeorange: #FF6700;
    --wheat: #F5DEB3;
    --white: #FFFFFF;
    --yellowgreencrayola: #BCE784;
}

*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

/* --------------- Scroll to Top - Button | Styles
------------------------------------------------------------------- */

.scroll-to-top {
    position: fixed;
    bottom: 5%;
    right: 2.5%;
    font-size: 1.4rem;
    background-color: rgba(222, 164, 240, 0.8);
    color: var(--darkpurple);
    padding: 0.5rem 1rem;
    border-radius: 2.5rem;
    z-index: 10;
    transition: 300ms;
}

.scroll-to-top:hover {
    background-color: var(--orchid);
    transition: 250ms;
}

.scroll-to-top:active {
    color: var(--orangeweb);
}

/* ----------------------------------------- Header | Styles ------------------------------------------
---------------------------------------------------------------------------------------------------- */

header {
    font-size: 1.05rem;
}

/* --------------- Navigation Bar | Styles
------------------------------------------------------------------- */

.navigation-bar {
    display: grid;
    padding: 0.65rem 1.25rem 0;
}

.navigation-bar .nav-wrapper {
    display: inherit;
    grid-template-columns: 1fr 6fr;
    padding: 0.25rem 0.25rem 0.5rem;
    border-bottom: 0.1rem solid rgba(240, 248, 255, 0.4);
    z-index: 10;
}

.navigation-bar .nav-wrapper a.nav-logo,
.navigation-bar .nav-wrapper nav {
    display: flex;
    align-items: center;
    z-index: 5;
}

/* -------- Navigation Bar - Logo | Styles -------- */

.navigation-bar .nav-wrapper .nav-logo {
    margin-left: 1.9rem;
}

.navigation-bar .nav-wrapper .nav-logo img {
    width: 11rem;
}

.navigation-bar .nav-wrapper .ham-icon {
    display: none;
    width: 1.8rem;
}

/* -------- Navigation Bar - Link | Styles -------- */

.navigation-bar .nav-wrapper .nav-links {
    position: relative;
    justify-content: right;
    margin-right: 1.9rem;
}

.navigation-bar .nav-wrapper .nav-links a {
    color: var(--white);
    margin: 0 0.1rem;
    padding: 1rem;
}

.navigation-bar .nav-wrapper .nav-links a span {
    padding-bottom: 0.75rem;
    border-bottom: 0.1rem solid rgba(0, 18, 25, 0.15);
    transition: 300ms;
}

.navigation-bar .nav-wrapper .nav-links a:not(.activepage):hover span,
.navigation-bar .nav-wrapper .nav-links a.activepage span {
    padding-bottom: 0.25rem;
    border-bottom-color: var(--safetyblazeorange);
    transition: 400ms;
}

.navigation-bar .nav-wrapper .nav-links a:not(.activepage):active {
    text-decoration: solid line-through var(--safetyblazeorange);
}

.navigation-bar .nav-wrapper .nav-links a:not(.activepage):active span {
    padding-bottom: 0.25rem;
    border-bottom-color: transparent;
}

.navigation-bar .nav-wrapper .nav-links a.activepage {
    cursor: default;
}

/* -------- Navigation Bar - (AdminTools) Dropdown | Styles -------- */

.navigation-bar .nav-wrapper .nav-links .admin-tools {
    display: none;
}

.navigation-bar .nav-wrapper .nav-links .admin-tools.show {
    position: absolute;
    right: 0;
    top: 4rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(240, 248, 255, 0.85);
    margin: 0 1rem 0 0;
    padding: 0.5rem;
    box-shadow: 0 0 0.8rem rgba(0, 18, 25, 0.2);
    border-top: 0.1rem solid var(--safetyblazeorange);
    border-radius: 0 0 2rem 2rem;
    z-index: 10;
}

@keyframes pop-nav-menu {
    0% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

.navigation-bar .nav-wrapper .nav-links .admin-tools.show a {
    font-weight: 500;
    color: var(--darkpurple);
    margin: 0.2rem 0;
    padding: 0.5rem 1rem;
    animation: pop-nav-menu 0.5s both;
}

.navigation-bar .nav-wrapper .nav-links .admin-tools.show a.activepage {
    color: rgba(0, 18, 25, 0.4);
    cursor: not-allowed;
}

.navigation-bar .nav-wrapper .nav-links .admin-tools.show a:not(.activepage):hover {
    color: var(--popstar);
}

.navigation-bar .nav-wrapper .nav-links .admin-tools.show a:last-of-type {
    color: var(--auburn);
    padding: 0.6rem 1rem;
    border-top: 0.1rem solid var(--amaranthmp);
}

.navigation-bar .nav-wrapper .nav-links .admin-tools.show a:last-of-type:hover {
    color: var(--safetyblazeorange);
    text-shadow: 0 0 0.1rem var(--auburn);
}

/* ----------------------------------------- Main Title | Styles ------------------------------------------
---------------------------------------------------------------------------------------------------- */

article .title-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background: url("../Images/background_00.jpg") no-repeat center/cover fixed;
    color: var(--white);
    margin-top: -5.15rem;
}

article .title-container .title-content {
    padding: 10rem 5rem 4rem;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 5;
}

article .title-container .title-content h2 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2.8rem;
    line-height: 1.3;
    margin: 1.25rem 0;
}

/* -------- Main Title - (Navigation) | Styles -------- */

article .title-container .title-content .navigation {
    margin: 0;
    padding-top: 0.65rem;
}

article .title-container .title-content .navigation a {
    font-size: 0.95rem;
    display: inline-block;
    color: rgba(240, 248, 255, 0.6);
    padding: 0 0.3rem;
    transition: 300ms;
}

article .title-container .title-content .navigation a:last-of-type {
    color: var(--white);
    text-decoration: solid line-through var(--wheat);
    cursor: default;
}

article .title-container .title-content .navigation a:hover {
    color: var(--white);
}

article .title-container .title-content .navigation a:hover~a {
    color: rgba(240, 248, 255, 0.6);
}

article .title-container .title-content .navigation a:active {
    text-decoration: solid line-through var(--wheat);
}

article .title-container .title-content .navigation a:active~a {
    text-decoration: none;
}

/* -------- Transparent-Screen | Styles -------- */

article .back-image-screen {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 18, 25, 0.6) 0%, rgba(55, 64, 80, 0.3) 50%, rgba(234, 234, 234, 0.5) 100%);
    width: 100%;
    height: 100%;
}

/* ----------------------------------------- Footer | Styles ------------------------------------------
---------------------------------------------------------------------------------------------------- */

footer {
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 1fr;
    background-color: var(--amaranthmp);
    color: var(--white);
    padding: 1.25rem 2rem;
}

/* --------------- Bottom-Info | Styles
------------------------------------------------------------------- */

footer .bottom-info {
    padding: 2rem 1rem;
}

footer .bottom-info h3 {
    margin: 1rem 0;
}

footer .bottom-info ul {
    list-style-type: none;
    padding: 0;
}

footer .bottom-info li {
    padding: 0.35rem 0;
}

footer .bottom-info li a {
    color: rgba(240, 248, 255, 0.85);
    padding-bottom: 0.3rem;
    border-color: var(--orchid);
    transition: 300ms;
}

footer .bottom-info li a:hover,
footer .bottom-info li a:active {
    color: var(--aliceblue);
    padding-bottom: 0.1rem;
    border-bottom: 0.1rem solid var(--white);
    transition: 400ms;
}

footer .bottom-info li a:active {
    border-bottom-color: transparent;
    text-decoration: solid line-through var(--white);
}

/* -------- Bottom-Info - Social-Links | Styles -------- */

footer .bottom-info.logo-section a {
    display: inline-block;
}

footer .bottom-info.logo-section .bottom-logo img {
    width: 11rem;
}

footer .bottom-info.logo-section .bottom-text {
    font-size: 1rem;
    margin: 0.8rem 0.6rem;
}

footer .bottom-info.logo-section .social-icon {
    margin: 1.6rem 0 0 0.6rem;
}

footer .bottom-info.logo-section .social-icon a img {
    background-color: rgba(224, 123, 224, 0.2);
    width: 2.25rem;
    margin: 0.19rem;
    padding: 0.65rem;
    border-radius: 1.25rem;
    transition: 200ms;
}

footer .bottom-info.logo-section .social-icon a img:hover {
    background-color: rgba(224, 123, 224, 0.7);
    transition: 300ms;
}

/* -------- Bottom-Info - Contact | Styles -------- */

footer .bottom-info.contact-section {
    padding: 2rem 0;
}

footer .bottom-info.contact-section .contact li a img {
    width: 1rem;
    height: 1rem;
}

/* --------------- Copyrights | Styles
------------------------------------------------------------------- */

.copyrights {
    text-align: center;
    grid-column: 1/5;
}

.copyrights p {
    font-size: 0.75rem;
    color: rgba(240, 248, 255, 0.75);
    margin: 0;
    padding-top: 1rem;
    border-top: 0.1rem solid rgba(240, 248, 255, 0.25);
}

.copyrights p a {
    color: var(--orangeweb);
    border-bottom: 1px solid var(--mauve);
}

.copyrights p a:not(:active):hover {
    font-weight: 500;
    color: var(--safetyblazeorange);
}

.copyrights p a:active {
    text-decoration: solid line-through var(--mauve);
    border-bottom: none;
}