{% extends "base.html" %}
{% load static %}

{% block content %}

<article class="about-page">

    <section class="top-content-container">

        <div class="top-content">

            <div class="top-content-wrapper">
                <h2>About Us</h2>

                <div class="nav-links">
                    <a href="/">Home</a>
                    <span>|</span>
                    <a>About</a>
                </div>
            </div>

        </div>

    </section>

    <section class="middle-content-container">

        <div class="middle-content-heading">
            <h2>What makes us an Benchmark?</h2>
        </div>

        <div class="middle-content">

            <div class="left-section">

                <div class="left-section-image"><img src="{% static 'Assets/Images/Svgs/top_icon1.svg' %}"></div>
                <div class="left-section-contents">
                    <h3>Best Courses</h3>
                    <p>We have a lot of free tutorials with clear explanation.</p>
                </div>

            </div>

            <div class="middle-section">

                <div class="middle-section-image"><img src="{% static 'Assets/Images/Svgs/top_icon2.svg' %}"></div>
                <div class="middle-section-contents">
                    <h3>Expert Instructors</h3>
                    <p>Immediate solutions give by our top instructors to the problems.</p>
                </div>

            </div>

            <div class="right-section">

                <div class="right-section-image"><img src="{% static 'Assets/Images/Svgs/top_icon3.svg' %}"></div>
                <div class="right-section-contents">
                    <h3>Life Time Access</h3>
                    <p>Every thing in website is 100% free, it doesn't cost a penny.</p>
                </div>

            </div>

        </div>

    </section>

    <section class="bottom-content-container">

        <div class="bottom-content">

            <div class="bottom-content-left">

            </div>

            <div class="bottom-content-wrapper">
                <h2>Learner outcomes on courses you will take</h2>
                <p><span class="tick-mark">&#10004;&ensp;</span>Techniques to engage effectively with vulnerable
                    children and young
                    people.</p>
                <p><span class="tick-mark">&#10004;&ensp;</span>Join millions of people from around the world learning
                    together.</p>
                <p><span class="tick-mark">&#10004;&ensp;</span>Join millions of people from around the world learning
                    together. Online
                    learning is as
                    easy and natural.</p>
            </div>

        </div>

    </section>

</article>

{% endblock %}