{% load static %}


<!doctype html>
<html lang="en-US" dir="ltr">

<head>
    <title>{% block title %}{% block page_title %}{% endblock %} | courseO_line{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description"
        content="{% block meta_description %}courseO_line - a online courses website where you can watch our courses, tutorials, articles and more for completely free{% endblock %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="{% static 'Assets/CSS/styles.css' %}">
    <link rel="stylesheet" href="{% static 'Assets/CSS/responsive.css' %}">
    {% if request.path == "/" %}
    <link rel="stylesheet" href="{% static 'Assets/CSS/home.css' %}">
    {% elif request.path == "/about" %}
    <link rel="stylesheet" href="{% static 'Assets/CSS/about.css' %}">
    {% elif request.path == "/courses" %}
    <link rel="stylesheet" href="{% static 'Assets/CSS/courses.css' %}">
    {% elif request.path == "/contact" %}
    <link rel="stylesheet" href="{% static 'Assets/CSS/contact.css' %}">
    {% elif interface %}
    <link rel="stylesheet" href="{% static 'Assets/CSS/settings.css' %}">
    {% endif %}
    <link rel="icon" type="image/png" href="{% static 'Assets/Images/favicon.png' %}">
    {% if not user.is_authenticated and not has_footer or user.is_authenticated and not has_footer %}
    <link rel="stylesheet" href="{% static 'Assets/CSS/authenticate.css' %}">
    {% if request.path != "/administrator/reset-password" %}
    <script type="module" src="{% static 'Assets/JavaScript/admin.js' %}"></script>
    <script type="module" src="{% static 'Assets/JavaScript/authenticate.js' %}"></script>
    {% elif not user.is_authenticated and request.path == "/administrator/reset-password" %}
    <script type="module" src="{% static 'Assets/JavaScript/resetpassword.js' %}"></script>
    {% endif %}
    {% else %}
    <script type="module" src="{% static 'Assets/JavaScript/script.js' %}"></script>
    {% if user.is_authenticated %}
    <script type="module" src="{% static 'Assets/JavaScript/adminTools.js' %}"></script>
    {% endif %}
    {% endif %}
    {% if interface %}
    <script type="module" src="{% static 'Assets/JavaScript/settings.js' %}"></script>
    {% elif request.path == "/" or request.path == "/courses" %}
    <script type="module" src="{% static 'Assets/JavaScript/coursepreview.js' %}"></script>
    {% elif request.path == "/contact" %}
    <script type="module" src="{% static 'Assets/JavaScript/feedback.js' %}"></script>
    {% endif %}
    {% if "/administrator/" in request.path or request.path == "/contact" %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    {% endif %}
</head>

<body>
    {% if has_footer %}
    <header>

        <!-- Navigation-Bar -->
        <section class="navigation-bar">
            <div class="nav-wrapper">

                <!-- Navigation-Bar | Logo -->
                <a class="nav-logo" href="{% url 'home' %}">
                    <img src="{% static 'Assets/Images/logo.png' %}">
                </a>

                <!-- Hamburger-Icon -->
                <a class="ham-icon">
                    <img src="{% static 'Assets/Images/Svgs/hammenu.svg' %}"
                        alt="hamburger menu icon for opening the navigation menu">
                </a>

                <!-- Navigation-Bar | Links float -->
                <nav class="nav-links">

                    <a href="{% url 'home' %}"><span>Home</span></a>
                    {% if not user.is_authenticated %}
                    <a href="{% url 'about' %}"><span>About</span></a>
                    {% endif %}
                    <a href="{% url 'courses' %}"><span>Courses</span></a>
                    <a href=""><span>Blog</span></a>
                    {% if user.is_authenticated %}
                    <a class="tools"><span>Tools</span></a>

                    <!-- Admin-Tools | Dropdown -->
                    <ul class="admin-tools">
                        <a href="{% url 'settings' %}">Settings</a>
                        <a href="{% url 'signup' %}">Create Admin</a>
                        <a href="{% url 'logout' %}">log out</a>
                    </ul>
                    {% else %}
                    <a href="{% url 'contact' %}"><span>Contact</span></a>
                    {% endif %}

                </nav>

            </div>
        </section>

    </header>
    {% endif %}

    {% block content %}
    {% endblock %}

    {% if has_footer %}
    <footer>

        <!-- Bottom-Info | Social-Links -->
        <section class="bottom-info logo-section">
            <a class="bottom-logo" href="{% url 'home' %}">
                <img src="{% static 'Assets/Images/logo.png' %}">
            </a>
            <p class="bottom-text">Build your skills with our courses, tutorials, articles and more for completely
                free.</p>
            <figure class="social-icon">
                <a href=""><img src="{% static 'Assets/Images/Svgs/facebook.svg' %}"></a>
                <a href=""><img src="{% static 'Assets/Images/Svgs/instagram.svg' %}"></a>
                <a href=""><img src="{% static 'Assets/Images/Svgs/linkedin.svg' %}"></a>
            </figure>
        </section>

        {% if request.path != "/contact" %}
        <!-- Bottom-Info | Course-Topics -->
        <section class="bottom-info topics-section">
            {% if footer_topics %}
            <h3>Our Topics</h3>
            <ul class="topics">
                {% for category in footer_topics %}
                <li><a class="topic-link">{{category.category_name}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>

        <!-- Bottom-Info | Support -->
        <section class="bottom-info support-section">
            <h3>Support</h3>
            <ul class="support">
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="">Terms & Condition</a></li>
                <li><a href="">Privacy Policy</a></li>

                {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}">Authenticate</a></li>
                {% endif %}

                <li><a href="">Help</a></li>
            </ul>
        </section>

        <!-- Bottom-Info | Contact -->
        <section class="bottom-info contact-section">
            <h3>Contact Info</h3>
            <ul class="contact">
                <li>
                    <a href="tel:9834328823">
                        <img src="{% static 'Assets/Images/contact_03.png' %}">
                        &nbsp;<span>+91 983 432 8823</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:info@courseoline.com">
                        <img src="{% static 'Assets/Images/contact_02.png' %}">
                        &nbsp;<span>info@courseoline.com</span>
                    </a>
                </li>
                <li>
                    <a>
                        <img src="{% static 'Assets/Images/contact_01.png' %}">
                        &nbsp;<span>courseoline.com</span>
                    </a>
                </li>
            </ul>
        </section>
        {% endif %}

        <!-- CopyRights -->
        <section class="copyrights">
            <p>Copyright &copy; 2022 All rights reserved | This template is made by&nbsp;<a>Kumara</a></p>
        </section>

    </footer>
    {% endif %}
</body>

</html>