{% extends "base.html" %}
{% load static %}

{% block meta_description %}courseO_line - contact us for more support or else you have any queries{% endblock%}

{% block content %}
<article class="contact-page">

    <!-- Title | Container -->
    <section class="title-container">

        <!-- Bg-image-Screen -->
        <div class="back-image-screen"></div>

        <!-- contents -->
        <div class="title-content">
            <h2>{% block page_title %}Contact{% endblock %} Us</h2>
            <p class="navigation"><a href="{% url 'home' %}">Home</a><span>|</span><a>Contact</a></p>
        </div>

    </section>

    <!-- Feedback | container -->
    <section class="feedback-container">

        <!-- Contact | Form -->
        <form class="contact-form" method="POST" autocomplete="on">
            {% csrf_token %}
            <h3 class="form-heading">Get In Touch</h3>
            <textarea class="visiter_query field" name="visiterquery" placeholder="Enter your Message *"></textarea>

            <!-- Visiter Details -->
            <div class="visiter-details">
                <input class="visiter_name field" name="visitername" type="text" placeholder="Your Name *"
                    autocomplete="name">
                <input class="visiter_email field" name="visiteremail" type="email" placeholder="Your Email *"
                    autocomplete="email">
            </div>
            <input class="query_subject field" name="querysubject" type="text" placeholder="Subject">
            <input class="send_button field" type="submit" value="Send">
        </form>

        <div class="contacts-wrapper">

            <!-- Contact details | Container -->
            <ul class="contact-details">

                <!-- Bg-image-Screen -->
                <div class="back-image-screen"></div>

                <li>
                    <img src="{% static 'Assets/Images/contact_03.png' %}">
                    &nbsp;<span>+91 983-432-8823</span>
                </li>
                <li>
                    <img src="{% static 'Assets/Images/contact_02.png' %}">
                    &nbsp;<span>info@courseoline.com</span>
                </li>
                <li>
                    <img src="{% static 'Assets/Images/contact_01.png' %}">
                    &nbsp;<span>123, ABC street,<br>City - 600008</span>
                </li>
            </ul>
        </div>

    </section>

</article>
{% endblock %}