{% extends "base.html" %}
{% load static %}

{% block content %}

<article class="home-page">

    <section class="top-content-container">

        <div class="top-content">

            <div class="top-content-wrapper">
                <h2>Online Learning<br>Platform - courseO_line</h2>
                <p>Build your skills with our courses, tutorials, articles and more for completely free.</p>
                <a href="/courses">&nbsp;<span class="button-1">Watch</span>&emsp;&#9654;</a>
            </div>

        </div>

    </section>

    <section class="second-content-container">

        <div class="second-content">

            <div class="left-section">

                <div class="left-section-image"><img src="{% static 'Assets/Images/Svgs/top_icon1.svg' %}"></div>
                <div class="left-section-contents">
                    <h3>Best Courses</h3>
                    <p>We have a lot of free tutorials with clear explanation.</p>
                </div>

            </div>

            <div class="middle-section">

                <div class="middle-section-image"><img src="{% static 'Assets/Images/Svgs/top_icon2.svg' %}"></div>
                <div class="middle-section-contents">
                    <h3>Expert Instructors</h3>
                    <p>Immediate solutions give by our top instructors to the problems.</p>
                </div>

            </div>

            <div class="right-section">

                <div class="right-section-image"><img src="{% static 'Assets/Images/Svgs/top_icon3.svg' %}"></div>
                <div class="right-section-contents">
                    <h3>Life Time Access</h3>
                    <p>Every thing in website is 100% free, it doesn't cost a penny.</p>
                </div>

            </div>

        </div>

    </section>

    <section class="third-content-container">

        <div class="third-content">

            <div class="content-heading">
                <h2>Explore our Courses</h2>
            </div>

            <div class="playlist">

                {% if home_courses %}

                {% for course in home_courses %}

                <div class="course-wrapper">

                    <div class="course content">

                        <!-- Video or Placeholder Image -->
                        {% if course.course_link %}

                        <iframe src="{{course.course_link}}" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                        {% else %}
                        <img src="Static/Assets/Images/{{image_name}}.jpg">
                        {% endif %}

                        <!-- Course Name & Category -->
                        {% if course.course_category and course.course_title %}

                        <a class="course-category-link"
                            href="/courses#topic-{{course.course_category}}">{{course.course_category}}</a>
                        <h3>{{course.course_title}}</h3>

                        {% else %}
                        <a class="course-category-link">Category</a>
                        <h3>Sample Course Title</h3>
                        {% endif %}

                        <!-- Course Pdf Material -->
                        <div class="pdf-material">
                            <p>PDF material</p>

                            {% if course.course_pdf %}
                            <a class="available" href="{{course.course_pdf}}">download</a>
                            {% else %}
                            <a class="not-available">not available</a>
                            {% endif %}

                        </div>

                    </div>
                </div>

                {% endfor %}

                {% else %}

                <div class="course-wrapper1">

                    <div class="course content-1">
                        <img src="{% static 'Assets/Images/course_1.jpg' %}">
                        <p>Business</p>
                        <h3>Beginner to Pro in Excel</h3>
                        <div class="pdf-material">
                            <p>PDF material</p>
                            <a class="available" href="{% static 'Assets/Updated_resume.pdf' %}">download</a>
                        </div>
                    </div>
                </div>

                <div class="course-wrapper2">

                    <div class="course content-2">
                        <img src="{% static 'Assets/Images/course_2.jpg' %}">
                        <p>Web Development</p>
                        <h3>Introduction to Web APIs</h3>
                        <div class="pdf-material">
                            <p>PDF material</p>
                            <a class="not-available">not available</a>
                        </div>
                    </div>
                </div>

                <div class="course-wrapper3">

                    <div class="course content-3">
                        <img src="{% static 'Assets/Images/course_3.jpg' %}">
                        <p>Drawing</p>
                        <h3>Sketching for UX Designers</h3>
                        <div class="pdf-material">
                            <p>PDF material</p>
                            <a class="available">available</a>
                        </div>
                    </div>
                </div>

                <div class="course-wrapper4">

                    <div class="course content-4">
                        <img src="{% static 'Assets/Images/course_4.jpg' %}">
                        <p>Photography</p>
                        <h3>Photoshop Compositing Tips, Tricks, & Techniques</h3>
                        <div class="pdf-material">
                            <p>PDF material</p>
                            <a class="available">available</a>
                        </div>
                    </div>
                </div>

                {% endif %}

            </div>

            <div class="more-courses">
                <a href="/courses">More Courses</a>
            </div>
        </div>

    </section>

    <section class="fourth-content-container">

        <div class="fourth-content">

            <div></div>
            <div class="fourth-content-wrapper">
                <h2>Learner outcomes on courses you will take</h2>
                <p><span class="tick-mark">&#10004;&ensp;</span>Techniques to engage effectively with vulnerable
                    children and young
                    people.</p>
                <p><span class="tick-mark">&#10004;&ensp;</span>Join millions of people from around the world learning
                    together.</p>
                <p><span class="tick-mark">&#10004;&ensp;</span>Join millions of people from around the world learning
                    together. Online
                    learning is as
                    easy and natural.</p>
                <a href="/courses">Learn</a>
            </div>

        </div>

    </section>

    <section class="bottom-content-container">

        <div class="bottom-content">

            <div class="content-heading">
                <h2>Top Course Topics</h2>
            </div>

            <div class="topics">

                {% if categories %}

                {% for category in categories %}

                <div class="topic-wrapper">

                    <a class="topic content" href="/courses#topic-{{category.category_name}}">
                        <img src="{{category.category_image}}">

                        <div class="topic-holder">
                            <h3>{{category.category_name}}</h3>
                        </div>

                    </a>

                </div>

                {% endfor %}

                {% else %}

                <div class="topic-wrapper2">

                    <a class="topic content-2" href="/courses#topic-webdevelopment">
                        <img src="{% static 'Assets/Images/topic_2.jpg' %}">

                        <div class="topic-holder">
                            <h3>Web Development</h3>
                        </div>

                    </a>

                </div>

                <div class="topic-wrapper4">

                    <a class="topic content-4">
                        <img src="{% static 'Assets/Images/topic_4.jpg' %}">

                        <div class="topic-holder">
                            <h3>Photoshop</h3>
                        </div>

                    </a>

                </div>

                <div class="topic-wrapper1">

                    <a class="topic content-1" href="/courses#topic-business">
                        <img src="{% static 'Assets/Images/topic_1.jpg' %}">

                        <div class="topic-holder">
                            <h3>Business</h3>
                        </div>

                    </a>

                </div>

                <div class="topic-wrapper3">

                    <a class="topic content-3">
                        <img src="{% static 'Assets/Images/topic_3.jpg' %}">

                        <div class="topic-holder">
                            <h3>Drawing</h3>
                        </div>

                    </a>

                </div>

                {% endif %}

            </div>

        </div>

    </section>

</article>

{% endblock %}