{% extends "base.html" %}
{% load static %}

{% block title %}courseO_line - online courses{% endblock %}

{% block content %}
<article class="home-page">

    <!-- Title | Container -->
    <section class="title-container">

        <!-- Bg-Image-Screen -->
        <div class="back-image-screen"></div>

        <!-- contents -->
        <div class="title-content">
            <h2>Online Learning<br>Platform -&nbsp;courseO_line</h2>
            <p>Build your skills with our courses, tutorials, articles and more for completely free.</p>
            <a href="{% url 'courses' %}">
                Watch&nbsp;<small></small><img src="{% static 'Assets/Images/logo_min1.png' %}"><span>&#9654;</span>
            </a>
        </div>

    </section>

    <!-- Badge | Container -->
    <section class="badge-container">

        <!-- Left Badge -->
        <div class="badge">
            <div class="badge-image"><img src="{% static 'Assets/Images/Svgs/books.svg' %}"></div>
            <div class="badge-contents">
                <h3>Best Courses</h3>
                <p>We have a lot of free tutorials with clear explanation.</p>
            </div>
        </div>

        <!-- Middle Badge -->
        <div class="badge middle">
            <div class="badge-image"><img src="{% static 'Assets/Images/Svgs/person.svg' %}"></div>
            <div class="badge-contents">
                <h3>Expert Instructors</h3>
                <p>Immediate solutions give by our top instructors to the problems.</p>
            </div>
        </div>

        <!-- Right Badge -->
        <div class="badge">
            <div class="badge-image"><img src="{% static 'Assets/Images/Svgs/clock.svg' %}"></div>
            <div class="badge-contents">
                <h3>Life Time Access</h3>
                <p>Everything in website is 100% free, it doesn't cost a penny.</p>
            </div>
        </div>

    </section>

    <!-- Explore-Course | Container -->
    <section class="course-container">

        <!-- Sub-Heading -->
        <h2 class="sub-heading">Explore our Courses</h2>

        <!-- Playlist | Container -->
        <div class="playlist">

            {% for course in top_courses %}
            <div class="course">

                <!-- Video or Placeholder Image -->
                {% if course.course_link %}
                <iframe src="{{ course.course_link }}" class="preview" title="YouTube video player" frameborder="0"
                    allowfullscreen></iframe>
                {% else %}
                <img src="{{ placeholder_img }}" class="preview">
                {% endif %}

                <!-- Course Name & Category -->
                {% if course.course_category and course.course_title %}
                <a class="topic-link">{{ course.course_category }}</a>
                <h3 class="title"><span>{{course.course_title}}</span></h3>
                {% else %}
                <a class="topic-link">Category</a>
                <h3 class="title"><span>Sample Course Title</span></h3>
                {% endif %}

                <!-- Course Pdf Material -->
                <div class="pdf-material">
                    <p>PDF material</p>
                    {% if course.course_pdf %}
                    <a class="available" href="{{ course.course_pdf.url }}" target="_blank">Download</a>
                    {% else %}
                    <a class="not-available">not available</a>
                    {% endif %}
                </div>

            </div>
            {% endfor %}

        </div>

        <div class="more-courses">
            <a href="{% url 'courses' %}">More Courses</a>
        </div>

    </section>

    <!-- Brief | Container -->
    <section class="brief-container">

        <div class="back-image-screen"></div>
        <div class="brief-content">
            <h2>Learner outcomes on courses you will take</h2>
            <p><span class="tick-mark">&#10004;&ensp;</span>Techniques to engage effectively with vulnerable
                children and young people.</p>
            <p><span class="tick-mark">&#10004;&ensp;</span>Join millions of people from around the world learning
                together.</p>
            <p><span class="tick-mark">&#10004;&ensp;</span>Online learning is as easy and natural.</p>

            <!-- Learn | Button -->
            <div class="learn-button">
                <a href="{% url 'courses' %}">Learn</a>
            </div>
        </div>

    </section>

    <!-- Top-Topics | Container -->
    <section class="topics-container">

        <!-- Sub-Heading -->
        <h2 class="sub-heading">Top Course Topics</h2>

        <!-- Category | Container -->
        <div class="categories">
            {% for category in categories %}
            <a class="topic-link">
                <img src="{{ category.category_image.url }}">
                <h3>{{ category.category_name }}</h3>
            </a>
            {% endfor %}
        </div>

    </section>

</article>
{% endblock %}