{% extends "base.html" %}
{% load static %}

{% block meta_description %}courseO_line - Create new admin account to modify the site content{% endblock %}

{% block content %}
<article class="login-page">

    <!-- Admin Login | Container -->
    <section class="auth-menu">

        <h2>{% block page_title %}Admin Authentication{% endblock %}</h2>
        <form class="login" method="POST" autocomplete="on">
            {% csrf_token %}
            <p>&ensp;User Id</p>
            <input class="admin_name" type="text" name="adminname" placeholder="eg: Phil Coulson"
                autocomplete="username">
            <p>&ensp;Password</p>
            <input class="pass_word" type="password" name="password" autocomplete="current-password">
            <input type="submit" class="login-button" value="Log In">
        </form>

        <!-- More Options | Container -->
        <div class="more-options">
            <a class="abort-button" href="{% url 'close' %}">&#129092;&nbsp;back</a>
            <a class="forgot-password" href="{% url 'reset-password' %}">Password</a>
        </div>

    </section>

</article>
{% endblock %}