{% extends "base.html" %}
{% load static %}

{% block meta_description %}courseO_line - Admin authentication to modify the site content, video tutorials and materials{% endblock %}

{% block content %}
<article class="settings-page">

    <!-- Title | Container -->
    <section class="title-container">

        <!-- Bg-image-Screen -->
        <div class="back-image-screen"></div>

        <!-- contents -->
        <div class="title-content">
            <h2>{% block page_title %}Admin Interface{% endblock %}</h2>
            <p class="navigation"><a href="{% url 'home' %}">Home</a><span>|</span><a>Settings</a></p>
        </div>

    </section>

    <!-- Admin Settings | Container -->
    <section class="settings-container">

        <!-- Navigation | Container -->
        <div class="navigation-panel">
            <input class="whichI" type="hidden" value="{{ interface }}">
            <div class="navigation">
                <a class="addcourse">
                    <img src="{% static 'Assets/Images/settings_01.png' %}">
                    <span>Add</span>
                </a>
                <a class="updatecourse">
                    <img src="{% static 'Assets/Images/settings_02.png' %}">
                    <span>Update</span>
                </a>
                <a class="deletecourse">
                    <img src="{% static 'Assets/Images/settings_03.png' %}">
                    <span>Delete</span>
                </a>
            </div>
        </div>

        <!-- Detailed-Settings | Container -->
        <main class="setting-details">

            <!-- Add Course | Form -->
            <form class="add" method="POST" enctype="multipart/form-data" autocomplete="on">
                {% csrf_token %}
                <h2>Add New Course</h2>
                <input class="course_title" name="coursetitle" type="text" placeholder="Course Title*">
                <input class="course_category" name="coursecategory" type="text" placeholder="Course Category*">

                <!-- Category Image | Section -->
                <div class="file-container image">
                    <input class="image_upload_btn" type="button" value="Upload">
                    <input class="category_image" name="categoryimage" type="file" accept="image/jpeg, image/png"
                        hidden>
                    <label>&ensp;a<span> Category</span> Image</label>
                </div>

                <!-- Course Link -->
                <input class="course_link" name="courselink" type="text" placeholder="paste your link here*">
                <label class="show-pdf-wrapper">
                    <input class="show_pdf" type="checkbox">Add <span>Course</span> Material</label>

                <!-- Pdf Material | Section  -->
                <div class="file-container pdf">
                    <input class="pdf_upload_btn" type="button" value="Upload">
                    <input class="uploaded_pdf" name="uploadedpdf" type="file" accept="application/pdf" hidden>
                    <label>&ensp;a Pdf<span> Course Material</span></label>
                </div>

                <!-- Add & Clear Buttons -->
                <div class="form-buttons">
                    <input class="clear-button" type="button" value="Clear">
                    <input class="add-button" type="submit" value="Add">
                </div>
            </form>

            <!-- Update Course | Form -->
            <form class="update" method="POST" enctype="multipart/form-data" autocomplete="on">
                {% csrf_token %}
                <h2>Update Existing Course</h2>

                <!-- Choose Separator | Heading -->
                <div class="line-separator">
                    <p class="title"><span>Choose</span></p>
                </div>

                <!-- Category Picker -->
                <select class="course_category" name="coursecategory">
                    <option class="placeholder" hidden>Category*</option>
                </select>

                <!-- Course Picker -->
                <select class="course_name" name="coursename">
                    <option class="placeholder" hidden>Course Title*</option>
                </select>

                <!-- Edit Separator | Heading -->
                <div class="line-separator">
                    <p class="title"><span>Edit Section</span></p>
                </div>

                <!-- Course Title & Link -->
                <input class="course_title" name="coursetitle" type="text" placeholder="Course Title">
                <input class="course_link" name="courselink" type="text" placeholder="paste your link here">

                <!-- Pdf Material | Section  -->
                <div class="file-container pdf">
                    <input class="pdf_upload_btn" type="button" value="Upload">
                    <input class="uploaded_pdf" name="uploadedpdf" type="file" accept="application/pdf" hidden>
                    <label>&ensp;a Pdf<span> Course Material</span></label>
                </div>

                <!-- Update Button -->
                <div class="form-buttons">
                    <input class="update-button" type="submit" value="Update">
                </div>
            </form>

            <!-- Delete Course | Form -->
            <form class="delete" method="POST" enctype="multipart/form-data" autocomplete="on">
                {% csrf_token %}
                <h2>Delete Course</h2>

                <!-- Category Picker -->
                <select class="course_category" name="coursecategory">
                    <option class="placeholder" hidden>Category*</option>
                </select>

                <!-- Course Picker -->
                <select class="course_name" name="coursename">
                    <option class="placeholder" hidden>Course Title*</option>
                </select>

                <!-- Delete Button -->
                <div class="form-buttons">
                    <input class="delete-button" type="submit" value="Delete">
                </div>
            </form>

        </main>

    </section>

</article>
{% endblock %}