{% extends "../common/base.html" %}
{% load static %}

{% block meta_description %}courseO_line - Create new admin account to modify the site content{% endblock %}

{% block content %}
<article class="signup-page">

    <!-- Admin Signup | Container -->
    <section class="auth-menu">

        <h2>{% block page_title %}Create Admin{% endblock %} Account</h2>
        <form class="create" method="POST" autocomplete="on">
            {% csrf_token %}
            <p>&ensp;User Id</p>
            <input class="admin_name" type="text" name="adminname" placeholder="eg: Phil Coulson"
                autocomplete="username" autofocus>
            <p>&ensp;Email Id</p>
            <input class="email" type="email" name="email" placeholder="daisyjohnson@shield.com" autocomplete="email">
            <input type="submit" class="signup-button" value="Sign Up">
        </form>

        <!-- More Options | Container -->
        <div class="more-options">
            <a class="abort-button" href="{% url 'close' %}">&#129092;&nbsp;back</a>
        </div>

    </section>

</article>
{% endblock %}